<html>
    <head>
        <title>
            change your password
        </title>
        <link rel = 'stylesheet' href = '../css/home.css'>
    </head>
    <body>
        <div id = 'form'>
            <form action="/users/update-password/<%= locals.user.id %>" method="POST">
                <input type = 'text' name = 'password' placeholder="password"><br>
                <input type= 'text' name = 'conform_password' placeholder="conform-password">
                <br>
                <input type = 'submit' value = 'update' id = "submit-btn">
            </form>   
        </div>
    </body>
    
</html>