<html>
    <head>
        <title>enter your otp</title>
        <link rel = 'stylesheet' href = 'css/home.css'>
    </head>
    <body>
        <div id = 'form'>
          <form action = '/users/forget-password' method ='POST'>
            <input type = 'email' name = 'email' placeholder="Enter your email" required>
            <input type="submit" value = 'submit' id = "submit-btn">
          </form>
        </div>
    </body>
    
</html>