<html>
    <head>
        <link rel = 'stylesheet' href = 'css/home.css'>
    </head>
<body>
<div id = "form">
    <form action = '/users/submitted-otp/?email=<%= Info.email%>&&otp=<%= Info.otp%>' method ='POST'>
        <input type = 'password' name = 'password' placeholder="Enter new Password" required><br>
        <input type = 'number' name = 'otp' placeholder="Enter your 6 digit otp number" required>
        <input type="submit" value = 'submit' id = "submit-btn">
    </form>
</div>
</body>
</html>